.page-title{
    color: var(--white);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /*font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    font-style: italic;
    font-weight: 800;
    margin: .5rem 0 0 0;
}

.nav-title {
color: var(--orange);
padding: 6vh 0;
}

.side-content {
width: 20vw;
}

.features-list, .nav-link, .offcanvas-title {
color: var(--orange);
}

.offcanvas-title {
text-decoration: underline;
}

.features-list-item {
margin: 2rem 0 2rem 2rem;
}

.features-list-item:hover {
color: var(--white);
cursor: pointer;
}

